@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Regular.woff2") format("woff2");
}


* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600;
}

.content {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.logo {
    width: 20%;
    height: auto;
    min-width: 200px;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
}

.footer-link {
    text-decoration: none;
    margin: 20px;
}